<div class='well'>
  <h1>Welcome to Catch Up!</h1>
  <p>Log-in and catch up on the news and your friends</p>
      <%= form_tag "/login" do %>
      <div class='control-group'>
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
        <br>
      <div class='control-group'>
        <%= label_tag  :password %>
        <%= password_field_tag  :password, params[:password]%>
      </div>
       <br>
      <%= submit_tag "Submit", class: 'btn-btn-primary'%>
    <% end %>
  <br>
  <p>Don't have an account? No Problem! <%= link_to "Sign-up", signup_path %> is easy and free!</p>
</div>
