<h1>
	<%= @user.name %><%= " (You!)" if @user == current_user %>
</h1>

<div id="error">
<% if flash[:error] %>
	<%= render partial: '/registrations/error', locals: {flash_error: flash[:error]} %>
<% elsif flash[:notice] %>
	<strong><%= flash[:notice] %></strong>
<% end %>
</div>

<div class="text-center">

	<%= display_user_relationship(@user, current_user) %>

	<%= display_follow_link(@user, current_user) { link_to "Follow #{@user.name}!", follow_path(@user), method: 'post','data-type' => 'json', :remote => true, :class => "new_follow_link text-center", :id => "#{@user.id}-follow" } %>

	<h3><%= display_user_followers(@user) %></h3>

	<% if @user.has_followers? %>
		<% @user.followers.each do |follower| %>
			<li>
			<strong><%= link_to follower.name, user_path(follower) %></strong>
			</li>
		<% end %>
	<% end %>

	<h3><%= display_user_following(@user) %></h3>

	<% if @user.has_following? %>
		<% @user.following.each do |followed| %>
			<li>
			<strong><%= link_to followed.name, user_path(followed) %></strong>
			</li>
		<% end %>
	<% end %>	
</div>

<br>

<% if @user.posts.size > 0 %>

	<h3><%= @user.name %>'s Posts</h3><br>

	<% @user.posts.each do |post| %>
		<%#= render partial: 'posts/thumbnail', locals: {post: post} %>
		<li><%= link_to post.title, post.link, target: "_blank" %>
		<%#= render partial: 'comments/comment', locals: {post: post} %>
		<%#= render partial: 'comments/form', locals: {post: post} %>
		<br>
	<% end %>
	<% else %>
		<h3>This user has no posts.</h3>

<% end %>
