<h1><%= @user.name %></h1>

<div id="notice">
<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
	<% flash[:notice] = "" %>
<% end %>
</div>

<% if current_user.following?(@user) %>

	<% if current_user.followed_by?(@user) %>
		<p>You're both friends!</p>
	<% else %>
		<p>You're following <%= @user.name %>!</p>
	<% end %>

	<% else %>
		<% if @user.following?(current_user) %>
			<p><%= @user.name %> is following you!</p>
		<% end %>

<% end %>

<br>

<% if @user.posts %>
	<h2><%= @user.name %>'s Posts</h2>
	<% @user.posts.each do |post| %>
		<li><div><%= link_to post.title, post.link, target: "_blank" %>
						<h3>Comments</h3>
						<ul id="Comments">
						<% post.comments.each do |comment| %>

						<li><%= comment.message %></li>
						<% end %></ul>

		</div></li>
		<%= render partial: 'comments/form', locals: {post: post} %>
	<% end %>
<% end %>
