
<style>

.thumbnail{
    position: relative;
    /* image 450px + 1px margin-R + 1px margin-R + 1px padding-R + 1px padding-L = 454px */
    /* gets rid of icky side scrolling */
    width: 454px;
    /*height: 330px;*/
    height: 30em; /* using ems because they scale acc. to font size */
    overflow: auto;
    background: #e5eff3;
    border: 1px solid black;
    padding: 1px;
}

.edit_button{
  position: absolute;
  top: 0;
  left: 420px;
  padding : 10px;
}

.poster {
  /*position: absolute;*/
  text-align: center;
  padding: 2px;
  margin: 0;
}

a {
    color:black;
    text-decoration:none;
}

.image{
  position: absolute;
  width: 450px;
  max-height:235px;
  overflow: hidden;
}

.headline{
    position: absolute;
    opacity: 0.55;
    bottom:0;
    background: white;
    width: 100%;
    padding: 10px;
}

.bottom-portion{
  position: absolute;
  bottom:0px;
  padding: 5px 10px;
  width: 450px;
  max-height:95px;
}

.caption {
  position: absolute;
  bottom: 35px;
}

.button {
    background-color: #b3b3cc;
    border: none;
    color: white;
    padding: 1% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
}

</style>
<div class='thumbnail'>
  &nbsp
  <div class="poster">
  <div class="edit_button" >
  <%= link_to "", edit_post_path(post), class: 'glyphicon glyphicon-wrench' %>
  </div>
  <%= link_to post.get_poster_name, user_path(post.user) %>
  <%= link_to " posted " + post.get_post_date, post_path(post) %>
  </div>
  <br>
  <a target="_blank" href="<%= post.link %>">
  <div class='image'>
    <img src="<%= post.image %>" width="450">
      <div class='headline'>
          <div class='short' color='black'><h3><%= post.post_title %></h3></div>
    </div>
  </div>
  <div class="caption">
    <%= post.description %><br>
  </div>
<div class='vote-arrows pull-left bottom-portion'>
    <span id= "voteUp">
      <%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-thumbs-up', method: :post, remote: true %>
    </span>
    &nbsp
    <span id='post_<%=post.id%>_votes'>
    <strong><%= post.total_votes %></strong>
    </span>
    &nbsp
    <span id= "myToolTip" >
      <%= link_to " ", post_down_vote_path(post), class: "glyphicon glyphicon-thumbs-down", method: :post, remote: true   %>
    </span>
    &nbsp
    <% post.tags.each do |tag| %>
      <a href="/tags/<%= "#{tag.id}" %>"><button class="button"><%= "#{tag.name}" %></button></a>
    <% end %>
  </div>

  </a>
</div>
