<h1>All The Posts</h1>


<% @posts.each do |post| %>

  <%= render partial: 'thumbnail', locals: {post: post} %>


<div class="vote-arrows pull-left">
  <span id= "voteUp"> 
    <%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-thumbs-up', method: :post %>  
  </span>
  &nbsp
  <span id= "myToolTip" > 
    <%= link_to " ", post_down_vote_path(post), class: "glyphicon glyphicon-thumbs-down", method: :post  %>
  </span>
  </div> 
  &nbsp

<strong> =  &nbsp<%= post.total_votes %></strong>

<% end %>

<%= will_paginate @posts %>
