<!DOCTYPE html>
<html>
  <head>
    <title>CatchUpNewsNetwork</title>
    <%= csrf_meta_tags %>

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">

  </head>
   <body>
    <header>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <%= render 'layouts/fake_navigation' %>
          </div>
        </div>
      </div>
    </header>
    <div id="main" role="main">
      <div class="container">
          <div class="feed-wrapper">
            <%= yield %>
          </div>
        <footer class="text-center">
    		  <h4>Made in NYC with ♡ at <%= link_to "The Flatiron School", "http://flatironschool.com" %></h4>
  		  </footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
